/*
Description: Monokindly color scheme for highlight.js
Author: Laurence Dougal Myers <laurencedougalmyers@gmail.com>
*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #121e31;
}

.hljs,
.hljs-subst {
  color: #f8f8f2;
}

.hljs-attr {
  color: #39baf4;
}

.hljs-built_in {
  color: #76c3cc;
}

.hljs-keyword,
.hljs-literal {
  color: #f92672;
}

.hljs-class {
  color: #88f8e8;
}

.hljs-comment {
  color: #808080;
}

.hljs-number {
  color: #ae81ff;
}

.hljs-params {
  color: #fd971f;
}

.hljs-string {
  color: #e6db74;
}

.hljs-title {
  color: #88f8e8;
}

.hljs-type {
  color: #50f875;
}

.hljs-variable {
  color: #6d9dab;
}
